{% extends 'base.html' %}
  {% load static %}


  {% block content %}
  <main class="meal_plan-form">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="control">
        <button class="button">Update</button>
      </div>
    </form>
  </main>
{% endblock content %}
